body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
  }
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .start{
      display: flex;
      justify-content: space-evenly;
      padding-top: 150px;
      size: 50;
  }  
  .first{
      display: flex;
      justify-content: space-evenly;
  }
  #footer {
    text-align: center;
    padding-right: 100px;
  }
  .rights{
    text-align: center;
    padding-right: 100px;
  }
  .button{
      margin-left: 50px;
  }
  img{
      border-radius: 15px;
  }