body{
    font-family: 'Roboto', sans-serif;
}
/*=============header section==================== */
#header span
{
    font-size:1.3em;
    font-weight: 1000;
    color: #E20505;
    text-transform: uppercase;
}
.nav-item .active{
    color: white;
    background-color: grey;
}
#header strong{
    font-size: 1.3em;
    font-weight: 1000;
}
#header .navbar
{
font-size: 1em;
font-weight: 1000;
text-transform: uppercase;
/* text-shadow: #fff; */
}
#header .navbar:hover{
    color: white;
}
#header .navbar ul li
{
    margin: 0.7em;
    background-color: #E20505;
    border-radius: 10px;
    /* color: #fff; */
    align-items: center;
}
#header .row .col1
{
    max-width: 100%;
    overflow: hidden;
}
#header .row .col1 img
{
 max-width: 100%;
}
#header .row .col2
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .row .col2 h1
{
    font-size: 3em;
    font-weight: 1000;
}
#header .row .col2 p
{
    font-size: 20px;
}
#header .row .col2 button
{
    background-color: #353434;
    color: #fff;
    font-size: 1.3em;
    border-radius: 1.2em;
    padding: 0.5em 1em;
    border: none;
}
.spot{
    background-image: url(./images/CLEAN\ VBACK.webp);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    border-color: #e20505;
}
.home{
    position: absolute;
width: 600px;
height: 300px;
left: 66px;
top: 202px;

background: #FFA2A2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
align-items: center;
}
p{
    font-size: 2em;
    background-color: #FFA1A1;
    border-radius: 50px;
    text-align: center;
    padding: 2%;
    height: 150px;
    width: 600px;
    /* display: flex; */
    font-weight: 800;
}
