body{
    font-family: 'Roboto', sans-serif;
}
/*=============header section==================== */
#header span
{
    font-size:1.3em;
    font-weight: 1000;
    color: #5C1B1B;
}
#header .navbar
{
font-size: 1.3em;
}
#header .navbar ul li
{
    margin: 0.7em;
}

#header .row .col1
{
    max-width: 100%;
    overflow: hidden;
}
#header .row .col1 img
{
 max-width: 100%;
}
#header .row .col2
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .row .col2 h1
{
    font-size: 3em;
    font-weight: 1000;
} 
#header .row .col2 p
{
    font-size: 20px;
}
#header .row .col2 button
{
    background-color: #5C1B1B;
    color: #fff;
    font-size: 1.3em;
    border-radius: 1.2em;
    padding: 0.5em 1em;
    border: none;
}
/* Exhibitions */
.exhibitions h1
{
    font-size:1.7em;
   margin-top: 2%;
   margin-bottom: 2%;
   font-weight: 1000;
   color: #5C1B1B;
}
.exhibitions .exhibitions-body
{
    background-color: #DEDEDE;
    border-radius: 10px;
    padding-top: 5% ;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 5%;
}
.exhibitions .exhibitions-body h1
{
    font-size: 1.7em;
    color: #000;
    font-weight: 1000;
}
.exhibitions .exhibitions-body .row-1 p
{
    font-weight: 400;
    font-size: 1.2em;
}
.exhibitions .exhibitions-body .row-1 h5
{
    font-weight: 600;
}
.exhibitions .exhibitions-body .col-image
{
    max-height: 20em;
}
.exhibitions .exhibitions-body .col-2
{
    padding-left: 6%;
}
.exhibitions .exhibitions-body .col-image img
{
    width: 100%;
    height: 100%;
}

.exhibitions .exhibitions-body .about-fair
{
    padding:3%;
}
.exhibitions .exhibitions-body .about-fair h4
{
    font-weight: 800;
}
.exhibitions .exhibitions-body .about-fair .button
{
   text-align: center;
   margin:auto;
   width:30%;
}
.exhibitions .exhibitions-body .about-fair .button a
{
    padding:8px;
    width:80%;
    border-radius: 9px;
    color: #fff;
    font-weight: 800;
    font-size: 1.2em;
  background-color: #2F0A0A;
}

/* Register */
.register
{
    
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    background-color: #c4c4c4;
    width: 40%;
    margin: 4% auto 5%;
    font-weight: 600;
    padding: 4%;
}
.register h3
{
    text-align: center;
    margin:1% auto 6%;
    font-weight: 600;
}

.register .btn-class
{
    text-align: center;
}
.register button
{
    margin: 5px auto 4px;
    background-color: #601D1D;
    font-weight: 600;
    color: white;
    width:12em;
    padding: 5px;
    text-align: center;
}
.register .row2
{
    margin: 10px auto 10px;
    width: 90%;
}
.register .row2 div
{
    text-align: center;
}
.register button:hover
{
    color:wheat;
}
.register a
{
    text-decoration: none;
    color: black;
}
.register a:hover
{
    color:#601D1D;
}

/* ============footer===================== */
#footer
{
padding: 2%  4% 9% 9% ;
background-color: #3F3D3D;
color: white;
}
#footer .col1, .col2
{
 margin-top: 4%;
}
#footer h3
{
   font-size: 1.5em;
}
#footer .li
{
    font-size: 1.1em;
    margin-top: 1.5em;
}
#footer .li a
{
    text-decoration: none;
    color: white;
}
#footer .li a:hover
{
    color: rgb(187, 125, 125);
}
#footer .li .fa
{
    margin-right: 1em;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) 
{

    /*=============header section==================== */
   
    #navbar .row
    {
        height: 80vh;
    }
    #header .row .col1
    {
        max-width: 100%;
        overflow: hidden;
    }
   #header .row .col2
    {
        padding: 20%;
    }
   
    #header .row .col2 h1
    {
        font-size: 1.7em;
    } 
    #header .row .col2 p
    {
        font-size: 13px;
    }
    #header .row .col2 button
    {
        background-color: #5C1B1B;
        color: #fff;
        font-size: 1em;
        border-radius: 1.2em;
        padding: 0.5em 1em;
        border: none;
    }
    /* ==============Exhibitions=================== */
    .exhibitions .exhibitions-body .about-fair .button
    {
    text-align: center;
    margin:auto;
    width:70%;
  
    }

    .exhibitions .exhibitions-body .about-fair .button a
    {
        padding:8px;
        width:80%;
        border-radius: 9px;
        color: #fff;
        font-weight: 800;
        font-size: 1.2em;
    background-color: #2F0A0A;
    }
   
    /* ==================Register======================= */
    .register
    {
        width: 70%;
        margin: 3% auto 5%;
        font-size: 13px;
    }
    .register h3
    {
        margin:5% auto 6%;
        font-weight: 600;
        font-size: 16px;
    }

    .register button
    {
        font-size: 13px;
    }
    .register .row2
    {
        margin: 10px auto 10px;
        width: 90%;
    }
    .register .row2 div
    {
        text-align: center;
    }
   
    /* ============footer===================== */
   
    #footer .col1, .col2
    {
    margin-top: 10%;
    }
    #footer h3
    {
    font-size: 1.3em;
    }
    #footer .li
    {
        font-size: 1em;
        margin-top: 1.2em;
    }
    #footer .li .fa
    {
        margin-right: 1em;
    }


}